.setting-item {
    float: left;
    padding: 3px;
    margin: 5px;
    vertical-align: middle;
}

.setting-item input {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 1em;
    width: 4em;
    height: 1.5em;
    display: inline;
    margin-top: -4px;
}

.setting-item label {
    vertical-align: middle;
    font-size: 0.8em;
    display: inline;
}

.clear_row {
    float: none;
    clear: both;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    min-width: 480px;
    max-width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
}

.datagrid table td,
.datagrid table th {
    padding: 3px 4px;
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient(center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
    font-size: 12px;
    border-bottom: 1px solid #E1EEF4;
    font-weight: normal;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid a {
    color: blue;
    text-decoration: underline;
}

.div_center {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.div_center2 {
    width: 100%;
    text-align: center;
}

body > .header {
    color: #fff;
    background: #333;
    width: 100%;
    display: flex;
    min-height: 50px;
    align-items: center;
    flex-direction: row;
    font-family: Verdana, "宋体";
    font-size: 16px;
}

body > .header a {
    color: #fff;
    text-decoration: none;
}

body > .header .logo {
    min-width: 125px;
    margin-right: 30px;
    margin-left: 30px
}

body > .header .logo.logo-beta {
    text-align: right;
    min-width: 152px;
    width: 152px
}

body > .header .buttons {
    margin-left: auto;
    margin-right: 30px;
    padding-left: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center
}

body > .header .buttons button {
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: transparent;
    padding: 7px 10px;
    font-size: 13px;
    cursor: pointer;
    outline: 0;
    margin-right: 10px
}

body > .header .buttons button:hover {
    background-color: rgba(255, 255, 255, .1)
}

body > .header .buttons button:last-child {
    margin-right: 0
}

body > .header .buttons button.sm {
    font-size: 12px;
    padding: 5px 10px
}

body > .header .buttons.has_avatar {
    margin-right: 0
}

.main-menu {
    display: block;
    line-height: 1;
    min-height: 50px;
    background-color: #333;
    z-index: 150;
    overflow: hidden
}

.main-menu li,
.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.main-menu a,
.main-menu li {
    display: inline-block
}

.main-menu a {
    background-repeat: no-repeat;
    background-position: 15px 50%
}

.main-menu li.current {
    background-color: #f6f6f6;
    color: #000;
}

.main-menu li.current a {
    background-color: #f6f6f6;
    color: #000;
}

.main-menu li:hover a {
    background-color: #82B440;
    color: #fff;
}

.main-menu ul.level-1 {
    white-space: nowrap;
    display: flex;
    align-items: center
}

.main-menu ul.level-1 > li {
    position: relative
}

.main-menu ul.level-1 > li > a {
    min-height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px
}

.user-profile {
    min-height: 50px;
    margin-right: -30px
}

.user-profile .avatar {
    cursor: pointer;
    position: relative;
    padding: 0 25px;
    display: flex;
    align-items: center;
    min-height: 50px
}

.user-profile .avatar .usericon {
    background-color: #ffd000;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 .35a4.25 4.25 0 100 8.5 4.25 4.25 0 000-8.5zM5.45 4.6a2.55 2.55 0 115.1 0 2.55 2.55 0 01-5.1 0z' fill='%23000'/%3E%3Cpath d='M2.05 14.8a2.55 2.55 0 012.55-2.55h6.8a2.55 2.55 0 012.55 2.55.85.85 0 101.7 0 4.25 4.25 0 00-4.25-4.25H4.6A4.25 4.25 0 00.35 14.8a.85.85 0 101.7 0z' fill='%23000'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.user-profile .popup {
    background-color: #212121;
    text-align: left;
    position: absolute;
    display: block;
    color: #fff;
    z-index: 9;
    right: 0;
    padding: 0 0
}

.user-profile .popup .items .item {
    white-space: nowrap;
    color: #fff;
    display: block;
    padding: 12px 40px 12px 55px;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: 27px 11px
}

.user-profile .popup .items .item .h {
    margin-bottom: 3px
}

.user-profile .popup .items .item.icon-premium-green {
    color: #00ff7f
}

.user-profile .popup .items .item:hover {
    background-color: #2e2e2e
}

.user-profile .popup .items .item.logout {
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 8px
}

.user-profile .popup.hidden {
    display: none
}

.user-profile:hover .avatar {
    background-color: #212121
}

.root_padding {
    padding-left: 25px;
    padding-right: 25px;
    transition: padding-right 250ms;
}

@media screen and (max-width: 1024px) {
    .root_padding {
        padding-left: 10px;
        padding-right: 10px
    }
}

.introduce-row {
    margin-left: 120px;
    margin-right: 120px;
}

.app-area {
    background: radial-gradient(ellipse at center, rgba(123, 0, 199, .1) 0, rgba(255, 255, 255, 0) 70%) 25% 60px no-repeat, radial-gradient(ellipse at center, rgba(0, 252, 255, .1) 0, rgba(0, 252, 255, 0) 70%) 75% -130px no-repeat, radial-gradient(ellipse at center, #1a2f7d 0, #232b56 100%);
    border-radius: 20px;
    margin: -15px;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.app-area .row {
    margin-left: 60px;
    margin-right: 60px;
}

.site_footer {
    background-color: #333;
    height: 50px;
    color: #999;
    font-size: 12px
}

.site_footer .root_padding {
    display: flex;
    justify-content: space-between
}

.site_footer .root_padding a {
    color: #999
}

.site_footer .root_padding .menu {
    padding-top: 13px
}

.site_footer .root_padding .menu a {
    font-size: 13px;
    font-weight: 300;
    margin-right: 20px
}

.site_footer .root_padding .copyright {
    padding-top: 18px
}